{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Login - ERP Compras</title>
    <link
      rel="stylesheet"
      href="{% static 'adminlte/plugins/fontawesome-free/css/all.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'adminlte/dist/css/adminlte.min.css' %}"
    />
  </head>
  <body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo"><b>ERP</b> Compras</div>
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Faça login para iniciar sua sessão</p>

          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}

            <div class="input-group mb-3">
              <input
                type="text"
                name="username"
                class="form-control"
                placeholder="E-mail"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>

            <div class="input-group mb-3">
              <input
                type="password"
                name="password"
                class="form-control"
                placeholder="Senha"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>

            {% if form.errors %}
            <div class="alert alert-danger">Usuário ou senha inválidos.</div>
            {% endif %}

            <div class="row">
              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block">
                  Entrar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="{% static 'adminlte/plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'adminlte/dist/js/adminlte.min.js' %}"></script>
  </body>
</html>
